# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
.pytest_cache/

# Translations
*.mo
*.pot

# Log files:
*.log

# Database files:
*.db

# Flask stuff:
instance/config.py
.webassets-cache

# Sphinx documentation
docs/_build/

# Environments
venv/

# os specific
.DS_Store

# npm
node_modules/
dist/

# project specific
flaskjsonvue/static/json/*.json
tests/json/*.json
