<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='dist/main.css') }}" rel="stylesheet" />
    {% block customcss %}
        {# include custom css files #}
    {% endblock %}
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <router-link :to="{ name: 'root' }" class="nav-link">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'list', params: { objtype: 'demo'}}" class="nav-link">Demo</router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'list', params: { objtype: 'address'}}" class="nav-link">Address</router-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <router-view></router-view>
      </div>
    </div>
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/object.js') }}"></script>
    {% block scripts %}
        {# include custom js files #}
    {% endblock %}
  </body>
</html>
