<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='dist/main.css') }}" rel="stylesheet" />
    {% block customcss %}
        {# include custom css files #}
    {% endblock %}
  </head>
  <body>
    <div id="app">
      <router-link to="/">Home</router-link>
      <router-link to="/demo">Demo</router-link>
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/object.js') }}"></script>
    {% block scripts %}
        {# include custom js files #}
    {% endblock %}
  </body>
</html>
